@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;800&family=Poppins:ital,wght@0,200;1,200&display=swap');

body{
    background-color: #FFEFC6;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #F39391;
    margin-left: 100px;
    margin-right: 100px;

}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #F49F43;
    margin-left: 100px;
    margin-right: 100px;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin-left: 100px;
    margin-right: 100px;
}

.container {
    position: relative;
    width: 20%;
    margin-left: 100px;
    margin-right: 100px;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #F5CA51;
}
.container:hover .overlay {
    opacity: 1;
}
.text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}